@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Open Sans';
    color: #fff;
    background: url('waves-of-blue.jpg') top center / 100% 300px no-repeat;
    overflow-x: hidden;
}

body, :is(.first-block, .second-block) *{
    margin: 0;
}

.first-block {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 4em);
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 0.8em;
    backdrop-filter: brightness(0.5);
}

.name {
    width: fit-content;
    text-align: center;
}

.cite {
    font-style: italic;
    text-align: center;
}

.second-block {
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    grid-template-rows: auto auto;
    width: 100%;
}

.subblock {
    background: var(--color);
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 0.8em;
    text-align: center;
}

.second-block a {
    font-weight: 500;
    color: var(--color);
    padding: .8em;
    border: 1px solid #fff;
    position: relative;
    outline: none !important;
}

.second-block a:is(:hover, :focus-visible)::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.second-block a::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Skatīties';
    background: #fff;
    position: absolute;
    inset: -1px;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    z-index: 1;
    transition: 0.2s ease-in-out clip-path, 0.2s ease-in-out font-size;
}

.second-block a::after {
    display: flex;
    content: 'Skatīties';
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 0;
    transition: 0.2s ease-in-out font-size;
}

.second-block a:is(:hover, :focus-visible)::before, .second-block a:is(:hover, :focus-visible)::after {
    font-size: 105%;
}

.third-block {
    background: #fff;
    width: 800px;
    max-width: calc(100% - 6em);
    padding: 3em;
    margin: 0 auto;
    color: #000;
}

.third-block > div {
    position: relative;
}

.third-block h2 {
    color: var(--color);
}

*:target::before {
    content: '';
    animation: 4s ease 0s 1 normal none running target;
    inset: -0.75em;
    position: absolute;
    pointer-events: none;
}

@keyframes target {
    0%{background: #0000001a;}
    75%{background: #0000001a;}
    100%{background: #00000000;}
}

.fourth-block {
    background: #000;
    width: 800px;
    max-width: calc(100% - 6em);
    padding: 3em;
    margin: 0 auto;
    position: relative;
}

.fourth-block a {
    color: #00abff;
    outline: none !important;
}

.fourth-block::before {
    content: '';
    left: calc((100vw - 896px) / -2);
    right: calc((100vw - 896px) / -2);
    top: 0;
    bottom: 0;
    position: absolute;
    background: #000;
    z-index: -1;
}

@media screen and (max-width: 1110px){
    .second-block {
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 520px){
    .second-block {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: unset;
    }
    .third-block, .fourth-block{
        padding: 2em;
        max-width: calc(100% - 4em);
    }
}

@media print{
    body, .fourth-block{
        background: #fff;
    }
    .first-block{
        backdrop-filter: unset;
        align-items: flex-start;
        width: 800px;
        margin: auto;
    }
    *{
        color: #000 !important;
    }
    .second-block, .fourth-block::before{
        display: none;
    }
    .third-block, .fourth-block{
        padding-top: 0 !important;
    }
    .third-block, .first-block{
        padding-bottom: 0 !important;
    }
}
